<section class="">
    <article class="row" ng-if="true">
        <div class="col s12">
            <h4 class="pad-sm">Transaction History</h4>
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th data-field="date">Date</th>
                        <th data-field="kind">Kind</th>
                        <th data-field="type">Type</th>
                        <th data-field="amount">Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="transaction in transactions">
                        <td>{{transaction.Date | date :"MM/dd/yyyy"}}</td>
                        <td>{{transaction.Kind}}</td>
                        <td>{{transaction.Type}}</td>
                        <td>{{transaction.Amount | currency : "$"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>